<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pedidos</title>
  </head>
  <body>
    <br />
    <div class="container mt-5">
      <h1>PEDIDOS</h1>
      <div class="row justify-content-center">
        <form (submit)="onSubmit($event)">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="nombre" placeholder="Ingrese su nombre" [(ngModel)]="nombre" name="nombre"/>
          </div>
          <div class="mb-3">
            <label for="nombre" class="form-label">Lugar de envio</label>
            <input type="text" class="form-control" id="lugar" placeholder="Ingrese el lugar donde se va enviar" [(ngModel)]="lugar" name="lugar"/>
          </div>
          <div class="mb-3">
            <label for="producto" class="form-label">Producto</label>
            <input type="text" class="form-control" id="producto" placeholder="Ingrese el nombre del producto" [(ngModel)]="producto" name="producto"/>
          </div>
          <div class="mb-3">
            <label for="cantidad" class="form-label">Cantidad</label>
            <input type="number" class="form-control" id="cantidad" placeholder="Ingrese la cantidad" [(ngModel)]="cantidad" name="cantidad"/>
          </div>
          <button type="submit" class="btn btn-primary">Enviar</button>
        </form>        
      </div>
    </div>
    <br /><br />
  </body>
</html>
