body{
    background-image: url("https://blog.deacero.com/hs-fs/hubfs/productos%20de%20ferreteria%20herramientas%20manuales.jpg?width=755&name=productos%20de%20ferreteria%20herramientas%20manuales.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;  /* Asegura que el body ocupe todo el alto de la vista del navegador */
        margin: 0; 
  }

  h1{
    color: #000000;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 15px;
  }

  .container {
    background-color: #dddd16;
    padding: 50px;
    padding-left: 20px;
    border-radius: 5px;
  }
  
  .form-label {
    color: #495057;
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  